<div class="container-fluid p-5" style=" height: 1100px; padding-top : 0; margin-bottom: : 0; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path 'sky.jpg' %>); background-size: cover">
<div class="container mt-5">
  <div style="margin-bottom: 40px">
    <h1>Be better, bi<span class="q">q</span>om!</h1>
  </div>
  <div style="margin-bottom: 60px">
    <p>Let's face it, we've all made resolutions we knew we'd keep but the reality was different. With bi<span class="q">q</span>om you have a tool that gives you a fun way to keep your new habits, with a variety of challenges that change every day. Gives us your time and we'll give you the tools to your new and durable habit.</p>
  </div>
  <div class="main-btn">
    <%= link_to "biqom myself", "", class: "btn btn-red" %>
  </div>
</div>
