.card {
  background-size: cover;
  background-position: center;
  height: 150px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.card-product {
  overflow: hidden;
  height: 800px;
  width: 400px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;

}

.status{
  background-color: rgba(255, 42, 42, 0.6);
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  color: white;
}

h3{
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 10px;
}
h6{
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 10px;
    padding-top: 10px;

}

.start-date{
  border-top: 1px solid #E5E5E5;
  padding-top: 10px;

}

.cards-div {
  margin: 0 auto;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;



}

.card-product-infos {
  padding: 20px;
}

.card-product img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card {
  margin-left: 20px;
  margin-bottom: 20px;
}

