.navbar-lewagon {
  justify-content: space-between;
  background: white;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


img{
  height: 100px
}

.logo:hover {
opacity: 0.6
}

.logo{
  height: 60px;
  width: 70px;
}



