.navbar-lewagon {
  justify-content: space-between;
  background: white;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


img{
  height: 100px
}

.logo:hover {
opacity: 1;
}

.logo{
  height: 70px;
  width: 80px;
}
#one{
  opacity: 0.9;
}

#two{
  opacity: 0.8;
}

#three{
  opacity: 0.7;
}

#four{
  opacity: 0.6;
}

#five{
  opacity: 0.5;
}



