<h1>My activities</h1>

<div class="content">
  <div class="cards">
    <% @plannings.each do |planning| %>
        <div class="card" style="background-image:  linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path planning.activity.photo.key, height: 300, width: 400, crop: :fill %>'); background-size: cover; background-position: center;">
          <%= planning.activity.name %>
          <%= planning.activity.description %>
          <%= planning.status %>
        </div>
      <% end %>
  </div>
</div>
